<!DOCTYPE html>
<html>
<head>
    <title>Tomar Asistencia</title>
</head>
<body>
    <h1>Lista de Asistencia para el Docente: {{ docente.nombre }} {{ docente.apellido }}</h1>
    <form method="post">
        {% csrf_token %}
        <table class="tablaEstudiantes">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Asistencia</th>
                </tr>
            </thead>
            <tbody>
                {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre }}</td>
                    <td>{{ estudiante.apellido }}</td>
                    <td><input type="checkbox" name="asistencia_estudiante_{{ estudiante.id }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Guardar Asistencia</button>
    </form>
</body>
</html>
